/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    font-family: sans-serif;
}

/* UTILS */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

li {
    list-style-type: none;
}

.navbar > * {
    flex-basis: 20%;
}

.row {
    gap: 20px;
    padding-bottom: 20px;

}

.col {
    min-height: 725px;
    /*border: 2px dashed black;*/
    flex-basis: calc(100% / 3);
}

.card {
    position: relative;
    cursor: pointer;
}

/* HEADER */
header {
    height: 70px;
    background-color: #FF6900;
    box-shadow: 0 0 10px #666;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.navbar {
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.nav-logo {
    text-align: center;
}

.nav-logo > img {
    width: 130px;
}

.nav-icons.flex {
    justify-content: end;
}

.nav-icons a {
    padding-left: 10px;
    color: white;
}

/* MAIN */

main {
    margin: 120px 0;
}

.card > img {
    max-width: 100%;
}

.brand {
    font-size: 0.9rem;
}

.article {
    font-size: 1.2rem;
    font-weight: bold;
    
}

.price {
    display: inline-block;
    font-size: 0.9rem;
}

.discount {
    color: red;
    font-weight: bold;
}

.base-p {
    text-decoration-line: line-through;
}

.heart {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    padding: 1px 12px;
    background-color: white;
    font-size: 2.5rem;
    cursor: pointer;
}


.tag {
    position: absolute;
    z-index: 1;
    bottom: 100px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

.d-perc {
    left: 0;
    background-color: red;
}

.sost, .sost-2 {
    background-color: green;
}
.sost {
    left: 63px;
}

.sost-2 {
    left: 0;
}

/* IMG B */

.img-b {
    display: none;
    position: absolute;
    top: 0;
    left: 0;    
}

.card:hover .img-b {
    display: inline-block;
}